body {
    background-color:rgb(43, 113, 136);

}

.wonderwall {
    width: 30%;
}

.inglaterra {
    width: 30%;
}

.palavra { 
    width: 30%;
}

.comunhão {
    width: 30%;
}

.esperança {
    width: 30%;
}


.lista {
    text-align: left 
    font-style: italic;
    text-decoration: overline;
    color: ghostwhite;
}