body {
    background-color:rgb(43, 113, 136);

}

.wonderwall {
    width: 40%;
}

.inglaterra {
    width: 20%;
}

.palavra { 
    width: 40%;
}

.comunhão {
    width: 40%;
}

.esperança {
    width: 40%;
}
